{{!-- Post Actions share and next post--}}
<div class="postActions">
    <div class="postActions-wrap u-container u-clear">
        <div class="u-floatLeft u-flex u-flexCenter">
            {{!-- Prev Post--}}
            {{#prev_post}}
            <div class="nextPost u-hide-before-lg simply-tracking" data-event-category="Article" data-event-action="Previous - Article" data-event-label="{{url absolute="true"}}" data-event-non-interaction="1">
                <a href="{{url}}" class="u-block">
                    <span class="u-block link--accent u-contentTitle u-fontSizeSmaller u-lineHeight1">{{t "Prev article"}}</span>
                    <h4 class="u-contentTitle u-fontSizeSmall u-noWrapWithEllipsis u-fontWeightBold">{{title}}</h4>
                </a>
            </div>

            <div class="separator u-hide-before-lg"></div>
            {{/prev_post}}
        </div>
        <div class="u-floatRight u-flex u-flexCenter">
            {{!-- post Share--}}
            <div class="postShare u-fontSize20 u-flex buttonSet">
                <a href="#" title="Share on Twitter" class="simply-tracking simply-share i-twitter button button--large button--chromeless c-twitter u-fontSizeLarge" data-share="twitter" data-url="{{url absolute="true"}}" data-title="{{title}} {{#if @blog.twitter}}by {{@blog.twitter}}{{/if}}" data-event-category="Article" data-event-action="Share" data-event-label="Twitter - Bottom" data-event-non-interaction="1"></a>
                <a href="#" title="Share on whatsapp" class="simply-tracking simply-share i-whatsapp button button--large button--chromeless c-whatsapp u-fontSizeLarge u-hide-after-lg" data-share="whatsapp" data-title="{{title}}" data-url="{{url absolute="true"}}" data-event-category="Article" data-event-action="Share" data-event-label="Whatsapp - Bottom" data-event-non-interaction="1"></a>
                <a href="#" title="Share on Reddit" class="simply-tracking simply-share i-reddit button button--large button--chromeless c-reddit u-fontSizeLarge u-hide-before-lg" data-share="reddit" data-url="{{url absolute="true"}}" data-event-category="Article" data-event-action="Share" data-event-label="Reddit - Bottom" data-event-non-interaction="1"></a>
            </div>

            {{!-- next Post--}}
            {{#next_post}}
            <div class="separator u-hide-before-lg"></div>

            <div class="nextPost u-hide-before-lg simply-tracking" data-event-category="Article" data-event-action="Next - Article" data-event-label="{{url absolute="true"}}" data-event-non-interaction="1">
                <a href="{{url}}" class="u-block">
                    <span class="u-block link--accent u-contentTitle u-fontSizeSmaller u-lineHeight1">{{t "Next article"}}</span>
                    <h4 class="u-contentTitle u-fontSizeSmall u-noWrapWithEllipsis u-fontWeightBold">{{title}}</h4>
                </a>
            </div>
            {{/next_post}}

        </div>

    </div>
</div>
