<div class="sharePost u-textAlignCenter u-hide-before-lg">
    <a href="#" class="simply-tracking simply-share i-twitter bg-twitter u-fontSize20 u-block" data-share="twitter" data-url="{{url absolute="true"}}" data-title="{{title}} {{#if @blog.twitter}}by {{@blog.twitter}}{{/if}}" data-event-category="Article" data-event-action="Share" data-event-label="Twitter" data-event-non-interaction="1"></a>
    <a href="#" class="simply-tracking simply-share i-reddit bg-reddit u-fontSize20 u-block" data-share="reddit" data-url="{{url absolute="true"}}" data-event-category="Article" data-event-action="Share" data-event-label="Reddit" data-event-non-interaction="1"></a>
    <a href="#" class="simply-tracking simply-share i-linkedin bg-linkedin u-fontSize20 u-block" data-share="linkedin" data-url="{{url absolute="true"}}" data-event-category="Article" data-event-action="Share" data-event-label="Linkedin" data-event-non-interaction="1"></a>
</div>
